version: 2

updates:
  - allow:
      - dependency-type: direct
    commit-message:
      include: scope
      prefix: chore
    directory: /
    open-pull-requests-limit: 99
    package-ecosystem: github-actions
    reviewers:
      - 'ridedott/platform'
    schedule:
      interval: daily
  - allow:
      - dependency-type: direct
    commit-message:
      include: scope
      prefix: chore
    directory: /
    ignore:
      - dependency-name: '@types/node'
        versions:
          - '>= 17'
        # babel-jest needs to be updated together with Jest
      - dependency-name: 'babel-jest'
        versions:
          - '> 29'
    open-pull-requests-limit: 99
    package-ecosystem: npm
    reviewers:
      - 'ridedott/platform'
    schedule:
      interval: daily
    versioning-strategy: increase
